/* IMPORTATION */
@import "reset.css";

/* CSS START */
body {
  font-family: 'ubuntu';
  font-size: 16px;
}
.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
a.btn {
  background-color: #69e063;
  border: 2px #69e063 solid;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
  padding: 15px 20px;
  border-radius: 30px;
}
a.btn:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
}
hr {
  border: none;
  background-color: white;
  height: 5px;
  margin: 40px 40%;
}
#header {
  background-color: #fff;
  padding: 15px 0 10px 0;
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 15;
}
#header .border-gradient {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#header .logo img {
  transition: .2s;
}
#header .logo img:hover {
  margin-left: 3%;
  opacity: .8;
}
#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header nav ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
#header nav ul li a {
  text-decoration: none;
  color: #474441;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
  padding: 10px 15px;
  border-radius: 20px;
}
#header nav ul li a:hover {
  opacity: .7;
}
#header nav ul li a.inscription {
  background-color: #69e063;
  border: 2px #69e063 solid;
  color: white;
}
#header nav ul li a.inscription:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
  opacity: 1;
}
#header nav ul li a.connexion {
  border: 2px #69e063 solid;
}
#header nav ul li a.connexion:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
  color: white;
  opacity: 1;
}
#content .hero img {
  width: 100%;
  position: relative;
}
#content .info {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#content .info h1.info-title {
  color: white;
  font-size: 3em;
  margin:  0 0 5% 0;
}
#content .info a.info-btn {
  font-size: 1.6em;
}
#content .section-explications {
  background: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  margin-top: -3px;
  padding: 60px 0;
  color: white;
}
#content .section-explications h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
#content .section-explications p {
  font-size: 1.5em;
  line-height: 1.5em;
}
#footer {
  background-color: #fff;
  padding: 20px 0 25px 0;
  position: relative;
  color: #474441;
}
#footer .border-gradient {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
#footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#footer .footer-info .social ul.social-links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
#footer .footer-info .social ul.social-links li {
  margin: 0 7px;
}
#footer .footer-info .social ul li a {
  font-size: 2.2em;
  color: #69e063;
  transition: .2s;
}
#footer .footer-info .social ul li a:hover {
  color: #5abf55;
}
#footer .footer-info .navigation-footer nav ul {
  display: flex;
}
#footer .footer-info .navigation-footer nav ul li {
  margin: 0 10px;
}
#footer .footer-info .navigation-footer nav ul li a {
  text-decoration: none;
  color: #474441;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
}
#footer .footer-info .navigation-footer nav ul li a:hover {
  opacity: .7;
}
#footer .footer-info .navigation-footer nav .logo {
  text-align: center;
  margin-top: 30px;
}
#footer .footer-info .navigation-footer nav .logo img {
  transition: .2s;
}
#footer .footer-info .navigation-footer nav .logo img:hover {
  transform: scale(1.04);
  opacity: .8;
}
#footer .footer-info .company p {
  font-size: 1.1em;
  margin: 10px 0;
}
#footer .footer-info .company p span {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 10px 0;
}
#footer .footer-info .company p a {
  color: #474441;
  transition: .2s;
}
#footer .footer-info .company p a:hover {
  opacity: .7;
}
#footer p.copyright {
  text-align: center;
}

/* RESPONSIVE START */
@media screen and (max-width: 900px) {
  #header {
    padding: 25px 0 35px 0;
  }
  #header nav {
    flex-direction: column;
  }
  #header .logo img {
    margin-bottom: 15px;
  }
  #header nav ul {
    justify-content: center;
  }
  #header nav ul li a {
    font-size: 1em;
  }
  #header nav ul li {
    margin: 0 10px;
  }
}

/* CSS END */
