/* IMPORTATION */
@import "reset.css";

/* CSS START */
body {
  font-family: 'ubuntu';
  font-size: 16px;
}
.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
a.btn {
  background-color: #69e063;
  border: 2px #69e063 solid;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
  padding: 15px 20px;
  border-radius: 30px;
}
a.btn:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
}
.btn-contrast {
  background-color: #474441;
  border: 2px #474441 solid;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: .2s;
  padding: 15px 30px;
  border-radius: 30px;
  transition: .2s;
}
.btn-contrast:hover {
  background-color: #615d59;
  border: 2px #615d59 solid;
  color: white;
}
hr {
  border: none;
  background-color: white;
  height: 5px;
  margin: 40px 40%;
}
h1 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin:  0 0 5% 0;
}
h2 {
  color: white;
  font-size: 3em;
  font-weight: bold;
}
/* HEADER */
#header {
  background-color: #fff;
  padding: 15px 0 10px 0;
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 15;
}
#header .border-gradient {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#header .logo img {
  transition: .2s;
}
#header .logo img:hover {
  margin-left: 3%;
  opacity: .8;
}
#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header nav ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
#header nav ul li a {
  text-decoration: none;
  color: #474441;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
  padding: 10px 15px;
  border-radius: 20px;
}
#header nav ul li a:hover {
  opacity: .7;
}
#header nav ul li a.inscription {
  background-color: #69e063;
  border: 2px #69e063 solid;
  color: white;
}
#header nav ul li a.inscription:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
  opacity: 1;
}
#header nav ul li a.connexion {
  border: 2px #69e063 solid;
}
#header nav ul li a.connexion:hover {
  background-color: #5abf55;
  border: 2px #5abf55 solid;
  color: white;
  opacity: 1;
}

/* ACCUEIL */
#content .hero img {
  width: 100%;
  position: relative;
}
#content .info {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#content .info a.info-btn {
  font-size: 1.6em;
}
#content .section-explications {
  background: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  margin-top: -3px;
  padding: 60px 0;
  color: white;
}
#content .section-explications h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
#content .section-explications p {
  font-size: 1.5em;
  line-height: 1.5em;
}
/* INSCRIPTION / CONNEXION */
#content .inscription-content {
  background: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
  padding-top: 7%;
  padding-bottom: 5%;
  text-align: center;
}
form input[type="text"], input[type="email"], input[type="password"] {
  padding: 1%;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  margin: 0.5% 0;
  width: 31%;
  transition: .2s;
}
form input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
form input[type="submit"] {
  outline: none;
  cursor: pointer;
  margin-top: 1%;
}
form span {
  display: block;
  color: chocolate;
}
#content .inscription-content .nom-prenom span {
  display: inline-block;
}

/* FOOTER */
#footer {
  background-color: #fff;
  padding-top: 30px;
  position: relative;
  color: #474441;
}
#footer .border-gradient {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(90deg, #69e063 1%, #4fffed 100%);
}
#footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#footer .footer-info .social ul.social-links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
#footer .footer-info .social ul.social-links li {
  margin: 0 7px;
}
#footer .footer-info .social ul li a {
  font-size: 2.2em;
  color: #69e063;
  transition: .2s;
}
#footer .footer-info .social p {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 10px 0 20px 0;
}
#footer .footer-info .social ul li a:hover {
  color: #5abf55;
}
#footer .footer-info .navigation-footer nav ul {
  display: flex;
}
#footer .footer-info .navigation-footer nav ul li {
  margin: 0 10px;
}
#footer .footer-info .navigation-footer nav ul li a {
  text-decoration: none;
  color: #474441;
  font-weight: 500;
  font-size: 1.1em;
  transition: .2s;
}
#footer .footer-info .navigation-footer nav ul li a:hover {
  opacity: .7;
}
#footer .footer-info .navigation-footer nav .logo {
  text-align: center;
  margin-top: 30px;
}
#footer .footer-info .navigation-footer nav .logo img {
  transition: .2s;
}
#footer .footer-info .navigation-footer nav .logo img:hover {
  transform: scale(1.04);
  opacity: .8;
}
#footer .footer-info .company p {
  font-size: 1.1em;
  margin: 10px 0;
}
#footer .footer-info .company p span {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 10px 0;
}
#footer .footer-info .company p a {
  color: #474441;
  transition: .2s;
}
#footer .footer-info .company p a:hover {
  opacity: .7;
}
#footer p.copyright {
  text-align: center;
  margin-bottom: 50px;
}

/* RESPONSIVE START */
@media screen and (max-width: 1550px) {
  #header nav {
    justify-content: space-around;
  }
  #header nav ul li {
    margin: 0 10px;
  }
  #content img {
    margin-top: 5%;
  }
  #content .section-explications {
    padding: 65px 3%;
  }
  #footer .footer-info{
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (max-width: 1360px) {
  #header nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1200px) {
  #header {
    padding: 25px 0 35px 0;
  }
  #header nav {
    flex-direction: column;
  }
  #header .logo img {
    margin-bottom: 15px;
  }
  #header nav ul {
    justify-content: center;
  }
  #header nav ul li a {
    font-size: 1em;
  }
  #header nav ul li {
    margin: 0 10px;
  }
  #content .info {
    padding: 0 3%;
  }
  #content .section-explications {
    padding: 65px 3%;
    text-align: justify;
  }
  #content img {
    margin-top: 13%;
  }
}
@media screen and (max-width: 900px) {
  #content img {
    margin-top: 16%;
  }
  #content .info {
    top: 35%;
  }
  #content .info h1.info-title {
    font-size: 2em;
  }
  #content .info a.info-btn {
    font-size: 1.2em;
  }
  #content .section-explications h2 {
    font-size: 2em;
  }
  #content .section-explications p {
    font-size: 1.2em;
  }
  #footer .footer-info {
    flex-direction: column;
    justify-content: center;
  }
  #footer .footer-info span {
    display: inline-block;
  }
  #footer .footer-info p {
    text-align: center;
  }
  #footer .footer-info .navigation-footer {
    margin: 2% 0;
    padding: 30px 0;
    border-top: 1px #474441 solid;
    border-bottom: 1px #474441 solid;
  }
}
@media screen and (max-width: 800px) {
  a.btn {
    padding: 10px 15px;
  }
  #content .info {
    top: 31%;
  }
}
@media screen and (max-width: 700px) {
  #content .info h1.info-title {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 600px) {
  #content img {
    margin-top: 25%;
  }
  #content .info {
    top: 30%;
  }
  #content .info h1.info-title {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  #content img {
    margin-top: 30%;
  }
}

/* CSS END */
